In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
data= pd.read_csv('car.csv', header= None)

In [6]:
data.columns= ['Price','Maintenence_Cost','Number_of_Dosrs',
               'Capacity','Size_of_Luggage_Boot','Safety','Decision']

In [7]:
data.sample(3)

,Price,Maintenence_Cost,Number_of_Dosrs,Capacity,Size_of_Luggage_Boot,Safety,Decision
856,high,low,5more,more,small,med,unacc
165,vhigh,high,4,2,med,low,unacc
479,high,vhigh,3,more,small,high,unacc

In [33]:
data['Decision'].value_counts()

1      1210
acc     384
3        69
4        65
Name: Decision, dtype: int64

In [34]:
data.Price.replace(('vhigh','high','med','low'),(4,3,2,1), inplace= True)
data.Maintenence_Cost.replace(('vhigh','high','med','low'),(4,3,2,1), inplace= True)
data.Number_of_Dosrs.replace(('2','3','4','5more'),(1,2,3,4), inplace= True)
data.Capacity.replace(('2','4','more'),(1,2,3), inplace= True)
data.Size_of_Luggage_Boot.replace(('big','med','small'),(3,2,1), inplace= True)
data.Safety.replace(('high','med','low'),(3,2,1), inplace= True)
data.Decision.replace(('unacc','acc','good','vgood'),(1,2,3,4), inplace= True)

In [35]:
data.head()

,Price,Maintenence_Cost,Number_of_Dosrs,Capacity,Size_of_Luggage_Boot,Safety,Decision
0,4,4,1,1,1,1,1
1,4,4,1,1,1,2,1
2,4,4,1,1,1,3,1
3,4,4,1,1,2,1,1
4,4,4,1,1,2,2,1

In [36]:
dataset= data.values
X= dataset[:, 0:6]
Y= np.asarray(dataset[:,6],dtype= 'S6')

In [37]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

In [38]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X,Y, test_size= 0.2, random_state=0)

In [39]:
tr= tree.DecisionTreeClassifier(max_depth=10)

In [40]:
tr.fit(X_Train,Y_Train)

DecisionTreeClassifier(max_depth=10)

In [43]:
y_pred = tr.predict(X_Test)

In [44]:
print(y_pred)

[b'2' b'1' b'1' b'1' b'1' b'3' b'1' b'2' b'3' b'1' b'1' b'1' b'2' b'1'
 b'1' b'2' b'1' b'1' b'2' b'1' b'3' b'2' b'3' b'1' b'1' b'1' b'1' b'1'
 b'1' b'1' b'3' b'2' b'1' b'2' b'3' b'1' b'1' b'1' b'1' b'1' b'1' b'1'
 b'1' b'1' b'4' b'1' b'1' b'2' b'1' b'1' b'1' b'1' b'1' b'1' b'1' b'1'
 b'1' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'1'
 b'1' b'2' b'1' b'2' b'3' b'2' b'1' b'1' b'2' b'1' b'2' b'2' b'1' b'1'
 b'1' b'1' b'1' b'3' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'4' b'1' b'2'
 b'2' b'1' b'1' b'1' b'2' b'1' b'4' b'2' b'1' b'2' b'1' b'1' b'1' b'1'
 b'1' b'2' b'1' b'3' b'1' b'1' b'1' b'1' b'1' b'1' b'2' b'1' b'1' b'1'
 b'1' b'2' b'3' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'1' b'1' b'1' b'1'
 b'1' b'1' b'1' b'2' b'1' b'1' b'2' b'1' b'2' b'2' b'2' b'2' b'1' b'1'
 b'1' b'2' b'1' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'2' b'1' b'1' b'1'
 b'1' b'1' b'1' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'1' b'1' b'2' b'2'
 b'2' b'1' b'2' b'1' b'3' b'1' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'2'
 b'1' b'3' b'1' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'1' b'1' b'1' b'1'
 b'1' b'2' b'1' b'1' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'2' b'1' b'4'
 b'1' b'1' b'1' b'4' b'1' b'1' b'1' b'1' b'2' b'1' b'1' b'1' b'1' b'1'
 b'1' b'1' b'1' b'1' b'1' b'1' b'3' b'1' b'2' b'1' b'1' b'1' b'1' b'1'
 b'3' b'2' b'3' b'2' b'2' b'1' b'1' b'1' b'2' b'1' b'1' b'2' b'1' b'1'
 b'4' b'1' b'2' b'1' b'1' b'1' b'2' b'1' b'2' b'1' b'1' b'1' b'1' b'1'
 b'1' b'1' b'2' b'1' b'1' b'2' b'1' b'4' b'3' b'1' b'1' b'1' b'1' b'1'
 b'1' b'1' b'1' b'1' b'1' b'2' b'1' b'2' b'2' b'3' b'3' b'1' b'2' b'1'
 b'2' b'1' b'3' b'2' b'1' b'1' b'1' b'1' b'1' b'1' b'1' b'2' b'1' b'1'
 b'2' b'1' b'2' b'1' b'1' b'1' b'1' b'1' b'2' b'1' b'3' b'1' b'3' b'1'
 b'1' b'1' b'4' b'1' b'1' b'4' b'1' b'2' b'1' b'2']

In [46]:
score = tr.score(X_Test,Y_Test)

In [53]:
print('Presición: %0.3f' % (score))

Presición: 0.965